/*Página detalle (producto)*/

.intern__page {
  background: #171717;
}

.detailsBookPage {
  background: white;
}

.detailBook__layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  min-height: 60vh;
}

.detailBook__media {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  flex: 1 1 11.25rem;
}

.detailBook__content,
.detailBook__more {
  width: 100%;
  flex: 2 1 18.75rem;
}

.detailBook__more {
  background: #f3f3f3;
  padding: 1rem 1rem 1.5rem 1rem;
  height: 100%;
  border-radius: 0.5rem;
}

.detailBook__image {
  max-width: 15rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.detailBook__title,
.detailBook__author,
.detailBook__category,
.detailBook__price {
  display: block;
}

.detailBook__price {
  font-size: 1.5rem;
  font-weight: 700;
}

.detailBook__technical {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }
}

.detailBook__grpFormat {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0 1.5rem 0;

  li {
    list-style: none;
  }

  button {
    width: 100%;
  }
}

.detailBook__itemFormat {
  flex: 1 1 12.5rem;
}

.detailBook__grp {
  display: flex;
  width: 96%;
  border-radius: 200px;
  background: #fafafa;
  border: 1px solid #b3b5cd;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
}

.book-page {
  h2 {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}

.technical__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0.85rem;
  text-align: center;

  p {
    color: grey;
  }

  span {
    color: #171717;
    display: block;
  }
}

.technical__item:nth-child(-n + 2) {
  border-right: 1px solid #b3b5cd;
}

.detailBook__rating,
.detailBook__language {
  flex-grow: 1;
}

.detailBook__pages {
  flex-grow: 2;
}

.detailBook__synopsis {
  padding: 0.25rem 0;
}